.home-container{
    display:grid;
    grid-template-columns: 4fr 1fr;
    gap:30px;
    margin-top: 40px;
}
.tshirts-container{
    border:1px solid gray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
}
.cart-container{
    border:1px solid gray;
}